.section-header {
   display: grid;
   grid-template: 1fr / minmax(auto,220px) 1fr;
   align-items: center;
   min-height: 100%;

	&__logo {
      display: grid;
      justify-items: start;
      align-items: center;
      font-weight: 700;
      font-size: 28px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      & a {
         color: #eeeeee;
         &:hover {
            color: yellowgreen;
         }
      }
	}

	&__menu {
      display: grid;
      justify-items: end;
	}

	&__list {
      display: grid;
      grid-auto-flow: column;
      text-transform: uppercase;
	}

	&__point {
      padding-left: 25px;
      font-weight: 700;
      font-size: 20px;
      & a {
         color: #eeeeee;
         &:hover {
            color: yellowgreen;
         }
      }
	}
}