.section-one {
   padding-top: 15px;
   padding-bottom: 15px;

   &__form {
      display: inline-block;
      margin: 0 10px 5px 0;
   }

   &__botton {   
   }

   &__table {
      width: 100%;
   }

   &__table-header {
      text-transform: uppercase;
      font-size: 18px;
      color: #eeeeee;
      background-color: #555;
      & th {
         padding: 5px;
      }
   }

   &__table-header th {
      height: 40px;
      padding: 5px;
      &:first-child {
         border-top-left-radius: 10px;
      }
      &:last-child {
         border-top-right-radius: 10px;
      }
   }

   &__table-body {
      font-size: 16px;
   }

   &__table-row td {
      padding: 5px;
   }
}
